ol a {
  color: green;
  text-decoration: line-through solid blue;
}

ul li {
  text-decoration: underline;
  color: purple;
}

p i {
  color: blue;
  font-weight: bold;
  text-decoration: line-through;
}
