@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'),
    url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
    url('../fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
    url('../fonts/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
    url('../fonts/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
    url('../fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
    url('../fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
    url('../fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
    url('../fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Julius Sans One';
  src: url('../fonts/JuliusSansOne-Regular.woff2') format('woff2'),
    url('../fonts/JuliusSansOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('./../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('./../fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', 'sans-serif';
  color: #2b2b2b;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

/* header */
.header {
  margin-top: 40;
  margin-bottom: 20px;
}

.header-connect {
  float: left;
}

.header-controls {
  float: right;
}

.header-connect li {
  display: inline-block;
}

.header-controls li {
  display: inline-block;
}

.nav-primary li {
  display: inline-block;
}

.header-top {
  background: url('./../images/banner.png') center;
  background-size: cover;
  height: 500;
  color: #ffffff;
  font-weight: 300;
}

.header-top-inner {
  padding: 20px 200px 500px 200px;
}

.header-connect li i[class*='fa-'] {
  font-size: 20px;
}

.header-connect li:last-child {
  font-size: 14px;
}

.header-connect li {
  padding: 8px;
}

.header-controls li {
  padding: 8px;
  border: none;
}

.header-controls li i[class*='fa-'] {
  background-color: none;
  font-size: 20px;
  color: #2b2b2b;
}

.header-controls li i[class*='fa-'] {
  color: #111111;
  border: none;
}

.header-controls button{
  border:none;
  background: #FFFFFF;
}

.header-controls form{
border: 1px solid #CCCCCC;
background: #FFFFFF;
}

.header-controls input{
  border: none;
}

.nav-primary {
  margin-bottom: 16px;
}

.nav-primary li a {
  display: inherit;
  padding: 8px 18px;
  text-transform: uppercase;
  margin: 0 4px;
  font-size: 20px;
  font-weight: 300;
  transition: color 0.2s linear, background-color 0.2s linear;
}

.header-bottom {
  text-align: center;
  background: #2b2b2b;
}

.nav-primary  ul{
  display: flex;
  justify-content: space-between;
}

.header-bottom li a {
  color: #e8e8e8;
  text-transform: uppercase;
}

.nav-primary li a:hover {
  color: #fff;
  background-color: #CCCCCC;
}

/* end-header */

/* footer */
.footer {
  background-color: #e8e8e8;
  margin-left: 100px;
  margin-right: 100px;
  padding: 50px;
  font-size: 14px;
  font-weight: 300;
}

.footer-inner .footer-contact {
  display: inline-block;
  margin-right: 32px;
  vertical-align: top;

}

.footer-inner .footer-nav {
  display: inline-block;
  margin-right: 32px;
  vertical-align: center;
}

.footer-inner .footer-connect {
  display: inline-block;
  margin-right: 32px;
  vertical-align: center;
}

.footer-inner ul li {
  display: block;
  margin-bottom: 8px;
}

.footer-newsletter span {
  color: #2b2b2b;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
}

.footer-social i[class*='fa-'] {
  color: #2b2b2b;
  font-size: 18px;
  display: inline-block;
}


/* end-footer */
